/* header */
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
}

header{
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 50px;
  padding-left: 25px;
  padding-top: 25px;

  display: flex;
  justify-content: space-between;
  padding: 30px 70px;

  /* 추가한 부분 */
  position: fixed; 
  top: 0; 
  width: 95%;
  background-color: white; 
  z-index: 4; 
}

#img-logo{
  width: 110px;
  height: 60px;
}

.header-right{
  display: flex;
}

#introduce{
  padding: 20px 30px;
  font-weight:bolder;
}

#profile-icon{
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  display: flex;
  align-items: center;
  /* 테두리 안 */
  padding: 0 15px 0 15px;
  /* 테두리 밖 */
  margin-right: 70px;
}

#menu-icon{
  padding: 0 8px;
}

#user-icon{
  padding: 0 0 0 8px;
}
/* --------------------------- */

/* 위시리스트 letter */

section{
  display: flex;
}

.wishlist-letter{
  color: black;
}

/* ---------------------------- */

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 50px 30px; 
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  /* 위 공간 조정 */
  margin-top: 15%; 
  padding: 20px;
}

.image-container img {
  width: 280px;
  height: 240px;
  border-radius: 8px; 
}

/* 부모에 relative */
.accomodation{
  position: relative;
  /* nav와 theme에서 z-index를 얼마나 줬는지 확인하기. */
  z-index: 1;
}

/* 찜 하트  */
.heart-icon{
  /* 자식에 absolute */
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.heart-icon img{
  width: 25px;
  height: 25px;
}
.heart-icon .heart-empty{
  display: block;
}
.heart-icon .heart-filled{
  display: none;
}
.heart-icon.liked .heart-empty{
  display: none;
}
.heart-icon.liked .heart-filled{
  display: block;
}
/* ------------- */

#place-score{
  display: flex;
  justify-content: right;
  margin-top: -18px;
}

#place{
  font-size: 14px;
  color: #878686;
}

#place-date{
  font-weight: 600;
  margin-top: 15px;
}

/* ---------footer--------- */
.footer {
  background-color: #f7f7f7;
  padding: 20px;
  border-top: 1px solid #e9e7e7;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-column {
  margin: 20px;
}

.footer-column h4 {
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a{
  text-decoration: none; 
  color: inherit; 
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  padding-top: 10px;
}

.footer-bottom span {
  margin-bottom: 10px;
}

.footer-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-bottom a {
  margin: 10px;
  color: #555;
  text-decoration: none;
}

.footer-language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-language span {
  margin-left: 15px;
  color: #555;
}

.footer-sns {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  cursor: pointer;
}

.footer-sns img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
/* ---------------------- */