main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    gap: 50px; 
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    /* 폼 요소들 사이 간격 */
    gap: 10px; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
}

.form-container label {
    font-weight: bold;
}

.form-container input, .form-container select, .form-container button {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
	margin-top: 10%;
	height: 40px;
    background-color: #ff5a5f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #e04e50;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px; 
    height: 500px; 
}
#map {
	width: 100%;
	height: 100%;
}
