
#img-logo{
  width: 110px;
  height: 60px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
}

.header-right{
  display: flex;
}

#introduce{
  padding: 20px 30px;
}

#profile-icon{
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px 0 18px;
}

#menu-icon{
  padding: 0 10px;
}

#user-icon{
  padding: 0 0 0 10px;
}


/*body*/
main{
  margin-left: 20%;
  margin-right: 20%;
}

/*계정*/
.menuOutter{
  width: 100%;
  height: 33vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menuInner{
  width: 85%;
  height: 65%;
  border: 2px solid rgb(244, 244, 244);
  
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(215, 215, 215);
}

.menuInner div{

 }

.menuTitle, .memnuContent{

}

#iconImg{
  width: 40px;
}

.menuTitle{
  font-weight: bold;
}

.memnuContent{
  color: rgb(119, 119, 119);
}

footer{
  color: black;
  background-color: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}