/* header */
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
}

header {
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 50px;
  padding-left: 25px;
  padding-top: 25px;

  display: flex;
  justify-content: space-between;
  padding: 30px 70px;

  /* 추가한 부분 */
  position: fixed;
  top: 0;
  width: 95%;
  background-color: white;
  z-index: 4;
}

#img-logo {
  width: 110px;
  height: 60px;
}

.header-right {
  display: flex;
}

#introduce {
  padding: 20px 30px;
  font-weight: bolder;
}

#profile-icon {
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  display: flex;
  align-items: center;
  /* 테두리 안 */
  padding: 0 15px 0 15px;
  /* 테두리 밖 */
  margin-right: 70px;
}

#menu-icon {
  padding: 0 8px;
}

#user-icon {
  padding: 0 0 0 8px;
}

/* --------------------------- */

/*확인 및 결제*/

#navText {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;

  display: grid;
  grid-template-columns: 0.1fr 2fr;
}

#navText img {
  place-items: center;
  width: 50px;

  &:hover {
    background-color: #f4f4f4;
    border-radius: 50px;
  }
}

#backImgBox {
  padding-top: 25px;
}

.main {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section {
  padding-left: 80px;
}

#aside {
  padding-right: 80px;
}


#sectionLeft {
  display: grid;
  grid-template-rows: 0.8fr 0.5fr 1fr 0.6fr 0.3fr 0.3fr;
  justify-items: end;
}

#sectionLeft>div {
  width: 80%;
}

.rsvInnerBox {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px;
}

/*예약정보*/

#reservationInformationOutter h2 {
  margin-bottom: 10px;
}

.reservationInformationInner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.reservationInformationInner>div {
  width: 90%;
}

.reservationInformationInner h3 {
  margin-bottom: 10px;
}

#modifyDate,
#modifyCntPeople {
  align-content: center;
  text-align: end;
}

#modifyDateText,
#modifyCntPeopleText {
  cursor: pointer;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/*결제수단*/

#billingInformationTitle {
  width: 230px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#payimgoutter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: end;
  align-items: center;
}

.payimg {
  width: 30px;
}

#cardSelect {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
}

/*!
 * /**
 *  * MSDropdown - dd.js
 *  * @author: Marghoob Suleman
 *  * @website: https://www.marghoobsuleman.com/
 *  * @version: 4.0.2
 *  * @date: Wed Oct 13 2021 15:19:38 GMT+0530 (India Standard Time)
 *  * msDropdown is free web component: you can redistribute it and/or modify
 *  * it under the terms of the either the MIT License or the Gnu General Public License (GPL) Version 2
 *  * /
 */
.ms-pr {
  position: relative
}

.ms-dd:focus-visible {
  box-shadow: 0 1px 5px #ddd;
  outline: none;
  outline-width: 0
}

.ms-dd {
  background: #eee;
  display: inline-block;
  font-family: Sans-Serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  width: 260px
}

.ms-dd button:focus,
.ms-dd input:focus,
.ms-dd select:focus,
.ms-dd textarea:focus {
  outline: none
}

.ms-dd .ms-value-input {
  border: 0;
  left: 20px;
  position: absolute;
  top: 10px;
  width: 50%
}

.ms-dd .ms-dd-header {
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 2px;
  cursor: pointer;
  min-height: 35px;
  position: relative;
  width: 100%
}

.ms-dd .ms-dd-header .option-selected {
  color: #000;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 20px 10px 10px;
  pointer-events: none
}

.ms-dd .ms-dd-header a {
  display: block
}

.ms-dd .ms-dd-header .ms-list-counter,
.ms-dd .ms-dd-header input[type=checkbox] {
  display: none
}

.ms-dd .ms-dd-header .ms-header-counter {
  color: #0e76a8;
  font-weight: 400
}

.ms-dd .ms-dd-header .ms-filter-box {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px 10px
}

.ms-dd .ms-dd-header .ms-filter-box input,
.ms-dd .ms-dd-header .ms-filter-box input:focus,
.ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 25px;
  padding-left: 6px;
  width: 100%
}

.ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
  outline: 1px solid transparent
}

.ms-dd .ms-dd-option-image,
.ms-dd .ms-dd-selected-img {
  margin-right: 5px;
  max-width: 64px;
  vertical-align: middle
}

.ms-dd .ms-dd-arrow {
  height: 0;
  margin-top: -3px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0
}

.ms-dd .ms-dd-arrow.ms-dd-pointer-down {
  border: 5px solid transparent;
  border-top-color: #000
}

.ms-dd .ms-dd-arrow.ms-dd-pointer-up {
  border: 5px solid transparent;
  border-bottom-color: #000;
  margin-top: -8px
}

.ms-dd .ms-options {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 1px 5px #ddd;
  display: none;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 9999
}

.ms-dd .ms-list-option,
.ms-dd .ms-optgroup ul .ms-list-option {
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-decoration: none
}

.ms-dd .ms-list-option input[type=checkbox],
.ms-dd .ms-optgroup ul .ms-list-option input[type=checkbox] {
  margin-right: 5px;
  vertical-align: middle
}

.ms-dd .ms-list-option:last-child,
.ms-dd .ms-optgroup ul .ms-list-option:last-child {
  border-bottom: none
}

.ms-dd .ms-list-option:hover,
.ms-dd .ms-optgroup ul .ms-list-option:hover {
  background: #f3f3f3;
  color: #000
}

.ms-dd .ms-list-option.option-selected,
.ms-dd .ms-optgroup ul .ms-list-option.option-selected {
  background: #f6f6f6
}

.ms-dd .ms-list-option.ico-align-right .ms-dd-option-image,
.ms-dd .ms-list-option.ico-align-right .ms-dd-selected-img,
.ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-option-image,
.ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-selected-img {
  order: 2
}

.ms-dd .ms-list-option.disabled,
.ms-dd .ms-list-option:disabled,
.ms-dd .ms-optgroup ul .ms-list-option.disabled,
.ms-dd .ms-optgroup ul .ms-list-option:disabled {
  cursor: default;
  opacity: .4
}

.ms-dd .ms-list-option .ms-dd-desc,
.ms-dd .ms-optgroup ul .ms-list-option .ms-dd-desc {
  color: #aaa;
  display: block;
  font-weight: 400;
  line-height: 1.5em;
  overflow: hidden;
  text-shadow: 0 1px .5px #fff
}

.ms-dd .ms-header-middle-content,
.ms-dd .ms-middle {
  display: flex;
  justify-content: flex-start;
  width: 100%
}

.ms-dd.disabled,
.ms-dd:disabled {
  cursor: default;
  opacity: .4;
  pointer-events: none
}

.ms-dd .ms-optgroup-padding {
  font-weight: 700;
  padding: 10px 10px 0
}

.ms-dd .ms-optgroup {
  display: block
}

.ms-dd .ms-optgroup:hover {
  background: #fff;
  color: #000
}

.ms-dd .ms-optgroup ul {
  margin: 0;
  padding: 0
}

.ms-dd .ms-optgroup ul .ms-list-option {
  padding-left: 20px
}

.ms-dd .ms-optgroup ul:last-child {
  border-bottom: 1px solid #ddd
}

.ms-dd .ms-dd-option-content {
  width: 100%
}

:focus {
  outline: none
}

/*카드 셀렉트*/

.select {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.select .text {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

.select .option-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
}

.select.active .option-list {
    display: block;
}

.option {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.option:last-child {
    border-bottom: none;
}

.option:hover {
    background: #f0f0f0;
}


.option img {
  width: 40px;
  margin: 8px;
}

/* 테마 적용하기 */
#theme {}

#theme .select {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

#theme .select:hover {
  color: #333;
  transition: all .3s;
}

#theme .select .text {}

#theme .select .option-list {
  list-style: none;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#theme .select .option-list .option {
  padding: 10px 15px;
}

#theme .select .option-list .option:hover {
  background-color: #f2f2f2;
}



/*호스트 메시지*/

.hostInformation {
  display: grid;
  grid-template-columns: 1fr 6.5fr;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hostText {
  align-content: center;
  text-align: start;
}

.sendMessageToHost textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  resize: vertical;
}


#hostImgBox {
  width: 60px;
  height: 60px;
}

#hostImg {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

#hostName {
  font-weight: bold;
}




/*환불정책안내*/
#refundText {
  font-weight: bold;
}

#refundPolicy {
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;

  a:link {
    color: rgb(39, 39, 39);
  }

  a:hover {
    color: black;
  }
}



/*예약 요청 버튼*/

.accommPolicy {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-weight: bold;
}

#rsvBtnText {
  font-size: 10px;
  border: none;
}

#rsvBtn {
  width: 147px;
  height: 57px;
  background-color: rgb(230, 30, 77);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 15px;
  cursor: pointer;

  &:active {
    background-color: rgb(238, 58, 100);
    width: 145px;
    height: 55px;
    font-size: 17px;
  }
}

#rsvBtnBox {
  border-bottom: none;
}

/*요금세부정보*/

#accommodationFeeDetails {
  height: 330px;
  width: 23%;
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;

  position: fixed;
  display: inline-block;
  right: 18%;
  /* 창에서 오른쪽 길이 */
  top: 30%;
  /* 창에서 위에서 부터의 높이 */
  background-color: transparent;
  margin: 0;
}

.paymentMethod {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px;
  padding-top: 0px;
}

#roomInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#roomImgBox {
  width: 100px;
  height: 100px;
}

#roomImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#roomText {
  align-content: center;
  text-align: start;
}

#roomName {
  font-weight: bold;
}

.payInformation {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  font-size: 16px;
}

.payInformation div {
  padding: 5px;
}

.payInformationRight {
  text-align: end;
}

#totalPayInfo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 10px;
}

#totalPayInfoRight {
  align-content: center;
  text-align: end;
  font-size: 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Date Display Area */
.days {
  width: 200px;
  height: 30px;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ---------footer--------- */
.footer {
  background-color: #f7f7f7;
  padding: 20px;
  border-top: 1px solid #e9e7e7;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-column {
  margin: 20px;
}

.footer-column h4 {
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  padding-top: 10px;
}

.footer-bottom span {
  margin-bottom: 10px;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-bottom a {
  margin: 10px;
  color: #555;
  text-decoration: none;
}

.footer-language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-language span {
  margin-left: 15px;
  color: #555;
}

.footer-sns {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  cursor: pointer;
}

.footer-sns img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

/* ---------------------- */

/*popup*/
.popup_layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*팝업 박스*/
.popup_box {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: auto;
  height: 450px;
  width: 550px;
  transform: translate(-50%, -50%);
  z-index: 1002;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}

/*컨텐츠 영역*/
.popup_box .popup_cont {
  padding: 20px;
  line-height: 1.4rem;
  font-size: 14px;
}

.popup_box .popup_cont h2 {
  padding: 15px 0;
  color: #333;
  margin: 0;
}

.popup_box .popup_cont p {
  border-top: 1px solid #666;
  padding-top: 30px;
}

/*오버레이 뒷배경*/
.popup_overlay {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
  ;
  background: rgba(0, 0, 0, 0.5);
}

/*popup*/

/*환불 팝업창*/

#closeImg {
  width: 50px;

  &:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 50px;
  }
}

.returnPopup {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 10px;
  padding-top: 0px;
}

.refundInformation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 16px;
  border-bottom: 1px solid rgb(221, 221, 221);
}