/* Main Styles */
main {
	padding: 40px 25px;
	margin-top: 93px;
	background-color: #f7f7f7;
}

.review-section {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-container {
	margin-bottom: 20px;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

hr {
	border: 0;
	height: 1px;
	background: #ddd;
	margin-bottom: 20px;
}

.review-table {
	width: 100%;
	border-collapse: collapse;
}

.review-table th, .review-table td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

.review-table th {
	background-color: #f9f9f9;
}

.review-table img {
	border-radius: 50%;
}

button:hover {
	background-color: #e04e50;
}