#wrap {
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	display: grid;
}

main {
	margin-top: 120px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#main>div {
	height: 12%;
}

#room-info {
	display: grid;
	grid-template-rows: 1fr 10fr;
	margin: 1% 1%;
}

#room-photo {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#first-img {
	grid-row: span 2;
	grid-column: span 2;
	width: 98%;
	height: 88%;
	margin: 1% 1%;
	border-radius: 10px;
	object-fit: cover;
}

.room-img {
	width: 94%;
	height: 76%;
	margin: 2% 2%;
	border-radius: 10px;
	object-fit: cover;
}

#reservation {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#room-explain {
	margin: 3% 3%;
}

#host-short {
	margin: 2% 2%;
	padding: 2% 2%;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	display: grid;
	grid-template-columns: 1fr 8fr;
	align-items: center;
}

#host-short>img {
	width: 50%;
	height: 50%;
	object-fit: cover;
}

#room-short {
	margin: 3% 3%;
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	border-bottom: 1px solid lightgray;
	align-items: center;
}

#room-short>img {
	width: 50%;
	height: 50%;
	border-radius: 10px;
	justify-self: center;
	object-fit: cover;
}

#room-short>div {
	margin: 2% 2%;
}

#right {
	height: 70%;
	width: 85%;
	border: 3px solid lightgray;
	border-radius: 10px;
}

#reserve-table {
	height: 95%;
	margin: 4% 4%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.8fr 1.6fr 1.2fr 0.4fr 0.3fr;
}

#reserve-select {
	grid-column: span 2;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
	width: 80%;
	height: 80%;
	justify-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#price-per-day {
	grid-column: span 2;
}

#check-in, #check-out {
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray; 
	& input { 
	width : 80%;
	height: 50%;
}

}


#guest-num {
	grid-column: span 2;
	
}

#reserve-btn {
	width: 100px;
	height: 50px;
	background-color: rgb(230, 30, 77);
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 15px;
	cursor: pointer;
	right: 100px;
	bottom: 20px;
	grid-column: span 2;
	justify-self: center;
}

#reserve-btn:active {
	background-color: rgb(238, 58, 100);
	width: 105px;
	height: 52px;
	font-size: 17px;
}

#reserve-price {
	grid-column: span 2;
	border-bottom: 1px solid gray;
	padding-bottom: 2%;
	align-self: center;
	display: grid;
}

#reserve-price-sum {
	grid-column: span 2;
}

#review {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid lightgray;
}

#review>div {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 4fr;
	align-items: center;
}

#review>div>img {
	height: 35%;
	width: 35%;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 4fr;
	border-radius: 10px;
	justify-self: center;
	object-fit: cover;
}

#review>div>div>h4, h5 {
	margin: 2% 0%;
}

.review-zone {
	padding: 3% 3%;
	grid-column: span 2;
	align-self: flex-start;
}

.review-zone>div {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 20%;
}

/* ----- map ----- */
#map-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#map {
	width: 75%;
	height: 75%;
}
/* ----- map ----- */

/* ----- calendar -----*/
.calendar_container {
	left: 29%;
	top: 25%;
	display: flex;
	justify-content: space-evenly;
	width: 75%;
	height: 75%;
	background-color: white;
	box-shadow: 1px 1px 25px rgb(0, 0, 0/ 17%);
	border: 1px solid black;
	border-radius: 50px;
	justify-self: center;
	justify-content: center;
	align-self: center;
}

.hide {
	display: none;
}

.calendar_container>button {
	margin-top: 4%;
	font-weight: bold;
	height: 10%;
}

.left_button {
	margin-left: 17%;
	border: transparent;
}

.right_button {
	margin-right: 17%;
	border: transparent;
}

.calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-right: 2.5%;
}

.calendar_days>button {
	width: 48px;
	height: 47px;
	border-radius: 100%;
	background-color: transparent;
	border: transparent;
}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.day {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: rgb(189, 189, 189);
}

.day_hover {
	border: 1px solid black !important;
}

.day_selected {
	background-color: black !important;
	color: #ffff;
}

.gray {
	background-color: rgb(241, 241, 241) !important;
}

/* ----- calendar ----- */